.nav {
    background: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight:bolder;
    background: linear-gradient(90deg, #8a2be2, #4056f5, #488ef0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }

  .nav-linkss a {
    font-weight: 500;
    padding: 7px 16px;
  margin: 30px;
  font-size: 0.9em;
  background-color: #f8552c;
  color: white;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  }
  